.center {
    margin: auto;
    width: 50%;
    border: 1px solid blue;
    padding: 10px;
  }

.my-class-name{
    margin: auto;
    margin-bottom: 10px;
    width: 500px;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.my-class-task-name{
    margin-bottom: 10px;
    width: 400px;
    background-color: turquoise;
}

.material-icons.md-16 { 
    font-size: 16px; 
    align: flex-end
}