<div class="main-div">
<mat-card class="my-class-name">
        <mat-card-title>TodoLoop Login</mat-card-title>
        <br>
        <form (ngSubmit)="onSubmit()" class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput id="email" placeholder="Email Address" value="Title"  [(ngModel)]="email" name="email">
                </mat-form-field>
                <br>
                <a (click)="onSubmit()" class="button3">Login</a>
        </form>
</mat-card>
</div>
